<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jjcouple.drug">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drug"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_key" />
        <activity android:name=".Fragment.FragmentMain"
                  android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".etc.loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".etc.Single_Drug"></activity>
        <activity android:name=".UserManagement.FindActivity">
        </activity>
        <activity android:name=".etc.detail_path"></activity>
        <activity android:name=".UserManagement.LoginActivity">
        </activity>
        <activity android:name=".UserManagement.SignUp">
        </activity>
        <activity android:name=".etc.Side_Effect">
        </activity>
        <activity android:name=".etc.Result_loading">
        </activity>
        <activity android:name=".Setting.PrivacyActivity">
        </activity>
        <activity android:name=".Setting.QueActivity">
        </activity>
        <activity android:name=".etc.detail_side_effect">
        </activity>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".etc.Decagon_project"></activity>
    </application>

</manifest>